body {
    padding-top: 5rem;
}

.navbar {
    margin-bottom: 1rem;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    border-radius: .3rem;
}

.btn-lg {
    margin-right: 1rem;
}

